.aichat-main {
  background: rgb(240 244 250);
  display: flex;
  padding: 12px;
  width: calc(100% - 24px);
  height: calc(100% - 24px);
  border-radius: 20px;
  position: relative;
}

.shuoming-btn {
  padding: 6px 8px;
}
.shuoming-btn2 {
  padding: 6px 6.8px;
}

.shuoming-item {
  padding: 12px 0 0 0;
}

.use-method {
  position: absolute;
  right: 35px;
  top: 30px;
  z-index: 1000;
}

.model-pick {
  position: absolute;
  left: calc(50%);
  transform: translateX(-50%);
  top: 30px;
  display: flex;
  justify-content: center;
  z-index: 10;
}

.dropdown-container {
  width: 100%;
  transition: width 0.5s ease-in-out, height 0.5s ease-in-out, margin-left 0.5s ease-in-out, margin-top 0.5s ease-in-out;
  /* background: #ccdaff; */
  background: #f6f6f6;
  border: 3px solid #8ad1fa;
  border-radius: 15px;
}

.expanded {
  width: 200px;
  height: 168px;
}

.dd-content {
  padding: 0 16px 0 16px;
  transition: height 0.3s ease-in-out;
}

.dd-header {
  height: 34px;
  color: #000;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.conf-btn {
  position: absolute;
  /* background: #b1e0fb; */
  margin-left: 6px;
  top: 2px;
}
.conf-btn-1 {
  position: absolute;
  background: #b1e0fb;
  top: 40px;
}

.slider-outer {
  display: flex;
}

.left-label {
  width: 140px;
  display: flex;
  justify-content: center;
  margin-right: 10px;
  line-height: 30px;
}

.resend-btn {
  height: 45px;
  padding: 10px 30px;
  border-radius: 18px;
  /* background: rgb(13, 13, 13); */
  background: rgb(5 96 178);
}

.resend-btn:hover {
  background-color: #4097f7;
}

.resend-text {
  /* color: #eee; */
  font-size: 18px;
  margin-right: 10px;
  /* font-weight: bold; */
}

.warn-content {
  /* color: #ff0000; */
  /* font-weight: bold; */
  background: rgba(251, 220, 219, 1) !important;
  padding: 6px 10px 6px 8px !important;
}

.warn-outer {
  display: flex;
  background: rgba(251, 220, 219, 1) !important;
  border: 1px solid #ffa3a3;
}

.empty-outer {
  display: flex;
}

.warn-icon {
  display: flex;
  align-items: center;
}

.conf-btn-2 {
  z-index: 100;
  margin-left: 0 !important;
  position: absolute;
  background: #b1e0fb;
  top: 80px;
}

.conf-btn-3 {
  z-index: 100;
  margin-left: 0 !important;
  position: absolute;
  background: #b1e0fb;
  top: 120px;
}

.el-dropdown-link {
  background: #48529a;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  z-index: 2;
}

.stable-position {
  position: absolute;
  bottom: 105px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.edit-text {
  /* border: 1px solid #000; */
  resize: none;
  overflow-y: hidden;
  background: none;
}

.btn-tooltip {
  width: 36px;
  height: 25px;
}

.page-inner {
  font-size: 14px;
  width: 12px;
  text-align: center;
}

.grey-color {
  color: #a2a2a2;
}

.icon1 {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.icon2 {
  width: 1.85em;
  height: 1.85em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.icon3 {
  width: 1.3em;
  height: 1.3em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
  min-width: 1.3em;
}

.icon4 {
  width: 2.8em;
  height: 2.8em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.icon5 {
  width: 2.1em;
  height: 2.1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.icon6 {
  width: 0.8em;
  height: 0.8em;
  /* vertical-align: -0.15em; */
  fill: currentColor;
  overflow: hidden;
}

.icon7 {
  width: 0.66em;
  height: 0.66em;
  /* vertical-align: -0.15em; */
  fill: currentColor;
  overflow: hidden;
}

.icon8 {
  width: 1.6em;
  height: 1.6em;
  /* vertical-align: -0.15em; */
  fill: currentColor;
  overflow: hidden;
}

.left-menu {
  width: calc(20% - 20px);
  height: calc(100% - 20px);
  /* background-color: #EBECF0; */
  background: #f8f9fb;
  border-radius: 20px 0 0 20px;
  padding: 10px 10px;
}

.new-talk {
  /* margin-left: 20%; */
  width: 60%;
  height: 38px;
  line-height: 38px;
  display: flex;
  justify-content: center;
  box-shadow: -5px -5px 10px #fff, 5px 5px 10px #babecc;
  border-radius: 10px;
  cursor: pointer;
}

.new-talk-inner {
  margin-left: 6px;
}

.new-talk:hover {
  box-shadow: -2px -2px 5px #fff, 2px 2px 5px #babecc;
}

.svg-icon {
  width: 2.4em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.chat-class {
  width: calc(100%);
  height: calc(100% - 50px);
  background: #ffffff;
  box-shadow: 0px 3px 17px 1px rgba(149, 159, 193, 0.16);
  border-radius: 24px;
  padding: 30px 20px 20px 20px;
  display: flex;
}

.all-content {
  padding: 0 110px;
}

.header-r {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 65%;
  height: 15vw;
  background: url("/src/assets/image/user_ai/smooth.png");
  background-size: 100% 100%;
}

.bottom-item {
  min-height: 116px;
  position: absolute;
  left: calc(50%);
  transform: translateX(-50%);
  bottom: 40px;
  width: calc(80% - 240px);
  /* backdrop-filter: blur(20px); */
  padding: 0 70px;
  background: #ffffff;
}

.input-position {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

.ipt {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0 15px;
  padding: 8px 5px 8px 10px;
  border-radius: 10px;
  width: calc(100% - 200px);
  /* height: 50px; */
  border: 1px solid #e7eaec;
  box-shadow: 0 0 transparent, 0 0 transparent, 0 0 transparent, 0 0 transparent, 0 0 10px rgba(0, 0, 0, 0.1);
}

.file-position {
  width: calc(100% - 240px);
  padding-left: 100px;
  height: 42px;
}

.h-inner,
.ai-inner {
  display: flex;
  line-height: 1.5em;
  padding: 10px 0 20px 0;
}

.h-inner {
  justify-content: flex-end;
  /* human 消息靠右 */
}

.h-inner {
  justify-content: flex-end;
  /* human 消息靠右 */
}

.hm-img {
  height: 50px;
  width: 50px;
  margin-left: 30px;
}

.ai-img {
  height: 45px;
  width: 45px;
  margin-right: 30px;
}

.ai-c1 {
  max-width: calc(120%);
}

.ai-c2 {
  border-radius: 7px 21px 21px 21px;
  padding: 5px 10px 6px 10px;
  /* padding: 10px 20px 12px 20px; */
}
.not-empty-outer{
  background: #f3f4f9;
}

.send-img {
  height: 32px;
  width: 32px;
}

.h-c3-out {
  /* margin-top: 4px; */
  height: 30px;
}

.h-c1 .edit-btn-out {
  display: none;
}

.h-c1:hover .edit-btn-out {
  display: flex;
}

.h-content .h-c3 {
  height: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.h-c3-edit {
  height: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.h-c1-all {
  width: 100%;
}

.c2 {
  background: #f3f4f9;
  border-radius: 21px 7px 21px 21px;
  padding: 10px 20px;
  line-height: 24px;
  text-align: left;
  font-size: 14px;
}

.think-c2{
  border-radius: 21px 7px 21px 21px;
  padding: 2px 20px 10px 20px;
  line-height: 24px;
  text-align: left;
  font-size: 13px;
  color: rgb(103, 103, 103);
}

.think-area{
  border-left: 1px solid #d0d0d0;
}

.h-c1-all .c2 {
  background: #f3f4f9;
  border-radius: 16px 7px 16px 16px;
  padding: 4px 10px;
  line-height: 24px;
  text-align: left;
  border: 2px solid #cbcbcb;
}

.human {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.h-content {
  width: 60%;
}

.ai {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.ai-content {
  width: 80%;
}

.ai-c3-out {
  height: 30px;
}

.ai-c3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ai-c3-btn {
  display: flex;
  align-items: center;
}

.last-item-ai .ai-c3-btn {
  height: 30px;
  display: flex;
  align-items: center;
}

textarea {
  resize: none;
  overflow-y: auto;
  border: none;
  box-shadow: none;
  width: calc(100%);
  max-height: 96px;
  line-height: 32px;
  font-size: 18px;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  padding: 0;
}

textarea:focus {
  outline: none;
}

.start-prompt {
  margin: 12px 0 6px 0;
  background: #ffffff;
  border-radius: 8px;
  padding: 8px 6px;
}

.prompt-style {
  line-height: 30px;
  display: flex;
  align-items: center;
}

.ai-title {
  color: rgba(58, 58, 58, 1);
  font-weight: bold;
  padding: 4px 0;
}

.right-icon {
  color: rgba(72, 82, 154, 1);
  margin: 0 4px 0 0;
}

.btn-outer {
  display: flex;
  align-items: end;
}

.click-pic {
  width: 40px;
  height: 40px;
  margin: 0 10px 0 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.click-btn {
  width: 40px;
  height: 40px;
  margin: 0 20px;
  background: #132eed;
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.not-allow-send {
  background: #cecfd7;
}

.empty {
  height: 10px;
  width: 100%;
  flex-shrink: 0;
}

::-webkit-scrollbar {
  height: 1rem;
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background: transparent;
}

.side_menu {
  width: 75px;
  background-color: #283cc4;
  border-radius: 10px;
  padding: 8px;
  position: absolute;
  right: -5px;
  top: -1px;
  transition: width 0.3s ease;
}

.menu_item {
  color: #fff;
  height: 36px;
  display: flex;
  align-items: center;
  padding: 0 8px;
  border-radius: 10px;
  font-size: 14px;
  cursor: pointer;
  white-space: nowrap;
  position: relative;
  transition: background-color 0.3s linear;
}

.big-menu_item {
  padding: 0 8px 0 5.6px;
}

.menu_item i {
  font-size: 16px;
}

.menu_text {
  max-width: 0;
  overflow: hidden;
  white-space: nowrap;
  opacity: 0;
  transition: max-width 0.5s ease, opacity 0.5s ease;
  margin-left: 8px;
}

.menu_item:hover {
  background-color: #0467d1;
}

/* popover气泡提示 */
.popover {
  position: absolute;
  top: 50%;
  right: calc(100% + 5px);
  transform: translateY(-50%);
  display: none;
  background-color: #fff;
  border-radius: 2px;
  padding: 8px;
  color: #333;
  font-size: 12px;
  box-shadow: 0px 6px 6px rgb(0 0 0 / 10%);
}

/* css三角形: arrow-left */
.popover::before {
  content: "";
  position: absolute;
  border-width: 6px;
  right: -12px;
  top: 50%;
  transform: translateY(-50%);
  border-style: solid;
  border-right-color: #fff;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;
}

.toggle {
  /* position: absolute; */
  margin-top: 40px;
  width: calc(100%);
  padding: 0;
  /* bottom: 10px; */
  justify-content: center;
}

.toggle i {
  font-size: 16px;
  transition: transform 0.3s ease;
}

/* collapsible时动效 */
.side_menu.collapsible {
  width: 36px;
}

.side_menu:not(.collapsible) .menu_text {
  max-width: 200px;
  opacity: 1;
}

.side_menu.collapsible .menu_text {
  max-width: 0;
  opacity: 0;
}

.side_menu.collapsible .toggle i {
  transform: rotate(180deg);
}

.side_menu.collapsible .menu_item:hover .popover {
  display: inline-block;
}

.side-img {
  height: 20px;
  width: 20px;
  min-width: 20px;
}
.big-side-img {
  height: 24px;
  width: 24px;
  min-width: 24px;
}

.small-side-img {
  height: 18px;
  width: 18px;
  min-width: 18px;
  margin-left: 1px;
}

@media only screen and (min-width: 1921px) {
  .aichat-main {
  }

  .new-talk {
    height: 44px;
    line-height: 44px;
  }

  .left-menu {
    width: calc(20% - 10px);
    height: calc(100% - 30px);
    background: #f8f9fb;
    border-radius: 20px 0 0 20px;
    padding: 15px 5px;
  }

  .all-content {
    padding: 0 8%;
    font-size: 18px;
  }

  .dd-header {
    height: 40px;
    font-size: 20px;
  }

  .bottom-item {
    min-height: 116px;
    bottom: 40px;
    width: calc(64% - 20px);
    background: #ffffff;
    padding: 0 6%;
  }

  .ai-img {
    height: 50px;
    width: 50px;
    margin-right: 30px;
  }
}

@media only screen and (max-width: 1440px) {
  .c2 {
    background: #f3f4f9;
    border-radius: 21px 7px 21px 21px;
    padding: 4px 10px;
    line-height: 24px;
  }

  .side_menu {
    right: -10px;
    top: -6px;
  }

  .dropdown-container {
    border: 2px solid #a6b9f7;
  }

  .expanded {
    width: 150px;
    height: 168px;
  }

  .dd-content {
    padding: 0 12px 0 12px;
    transition: height 0.3s ease-in-out;
  }

  .dd-header {
    height: 30px;
    font-size: 16px;
  }

  .aichat-main {
    padding: 12px;
    width: calc(100% - 24px);
    height: calc(100% - 24px);
  }

  .model-pick {
    top: 18px;
  }

  .header-r {
    top: 12px;
    right: 18px;
  }
  .icon1 {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
  }

  .icon2 {
    width: 1.5em;
    height: 1.5em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
  }

  .icon3 {
    width: 1.1em;
    height: 1.1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;  
    min-width: 1.1em;
  }

  .h-c3-out {
    /* margin-top: 4px; */
    height: 30px;
  }

  .h-content .h-c3 {
    height: 24px;
  }

  .icon4 {
    width: 2em;
    height: 2em;
  }

  .icon5 {
    width: 1.5em;
    height: 1.5em;
  }

  .left-menu {
    width: calc(20% - 10px);
    height: calc(100% - 30px);
    background: #f8f9fb;
    border-radius: 20px 0 0 20px;
    padding: 15px 5px;
  }

  .aichat-main {
    border-radius: 18px;
  }

  .chat-class {
    width: calc(100% - 24px);
    height: calc(100% - 28px);
    border-radius: 18px;
    padding: 16px 12px 12px 12px;
  }

  .all-content {
    padding: 0 120px 0 40px;
    font-size: 14px;
  }

  .start-prompt {
    margin: 6px 0 3px 0;
    background: #ffffff;
    border-radius: 8px;
    padding: 6px;
  }

  .prompt-style {
    line-height: 24px;
  }

  .ai-c2 {
    background: #f3f4f9;
    border-radius: 7px 16px 16px 16px;
    padding: 5px 8px 4px 8px;
  }

  .ai-inner {
    line-height: 1.2em;
    padding: 6px 0 12px 0;
  }

  .hm-img {
    height: 40px;
    width: 40px;
    margin-left: 20px;
  }

  .ai-img {
    height: 35px;
    width: 35px;
    margin-right: 20px;
  }

  .send-img {
    height: 26px;
    width: 26px;
  }

  .ipt {
    margin: 0 10px;
    padding: 4px 5px 4px 10px;
    border-radius: 10px;
    width: calc(100% - 160px);
  }

  .input-position {
    margin-bottom: 0px;
  }

  textarea {
    width: calc(100%);
    max-height: 84px;
    line-height: 20px;
    font-size: 14px;
  }

  .bottom-item {
    min-height: 104px;
    bottom: 20px;
    width: calc(64% - 20px);
    background: #ffffff;
    padding: 0 4%;
  }

  .click-btn {
    width: 24px;
    height: 24px;
    margin: 0 10px 4px 20px;
    /* background: #48529a; */
    border-radius: 10px;
  }

  .empty {
    height: 10px;
    /* height: 150px; */
    width: 100%;
    flex-shrink: 0;
  }

  .h-c1 {
    border-radius: 16px 7px 16px 16px;
    padding: 4px 10px;
  }
}

/* 移动端 */
@media only screen and (max-width: 1200px) {
  .header-r {
    /* height: 15vw; */
  }
}

@media only screen and (min-width: 1441px) and (max-width: 1920px) {
  .new-talk {
    height: 36px;
    line-height: 36px;
  }

  .ipt {
    margin: 0 15px;
    padding: 4px 5px 4px 10px;
    border-radius: 10px;
    width: calc(100% - 200px);
  }

  .resend-btn {
    height: 42px;
    padding: 10px 28px;
    border-radius: 16px;
  }

  .click-btn {
    margin: 0 10px 0 30px;
  }

  .resend-text {
    font-size: 16px;
    margin-right: 8px;
  }

  .shuoming-btn {
    padding: 4px 6px;
  }
  .shuoming-btn2 {
    padding: 4px 4.8px;
  }
}

@media only screen and (max-width: 1440px) {
  .aichat-main {
    /* width: calc(100% - 42px); */
  }

  .resend-btn {
    height: 36px;
    padding: 8px 18px;
    border-radius: 16px;
  }

  .resend-text {
    font-size: 14px;
    margin-right: 6px;
  }

  .shuoming-btn {
    padding: 2px 6px;
    font-size: 12px;
  }
  .shuoming-btn2 {
    padding: 2px 4.8px;
    font-size: 12px;
  }
}

.dd-content .el-slider {
  padding: 0 0 8px 0;
}

.dd-content .el-slider__marks-text {
  color: rgb(2 62 255);
  margin-top: 8px;
}

.dd-content .el-slider__button {
  height: 12px;
  width: 12px;
}

.ai-c3 .el-button.is-link:not(.is-disabled):hover {
  background: #dfdddd;
  color: #2b36ff;
}

.edit-btn-out .el-button.is-link:not(.is-disabled):hover {
  background: #dfdddd;
  color: #2b36ff;
}

.ai-c3 .btn-tooltip,
.edit-btn-out .el-button.is-link {
  height: 24px;
  width: 24px;
}

.h-c1 .el-textarea__inner {
  resize: none;
}

/* 特定页面的样式重置 */
.no-reset * {
  margin: revert;
  padding: revert;
}

.aichat-main p {
  margin: 12px 0;
}

.think-c2 p {
  margin: 8px 0;
}

.aichat-main .bg-white {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 0.375rem;
  margin: 10px 0;
}

.aichat-main .bg-grey {
  background-color: rgba(246, 243, 244, 1);
  border-radius: 0.375rem;
  margin: 10px 0;
}

.aichat-main .text-gray-200 {
  /* color: rgba(217, 217, 227, 1); */
  color: rgb(54 54 54);
}

.aichat-main .py-2 {
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}

.aichat-main .px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.aichat-main .bg-gray-800 {
  /* background-color: rgba(52, 53, 65, 1); */
  background-color: rgb(236 236 236);
  border-top-left-radius: 0.375rem;
  border-top-right-radius: 0.375rem;
  justify-content: space-between;
  align-items: center;
}

.aichat-main .p-4 {
  padding: 0.8rem 1rem;
  background: #fff;
  border-radius: 0.375rem;
  border-radius: 0.375rem;
}

.aichat-main .pg-4 {
  padding: 0.6rem 0.8rem;
  background-color: rgba(248, 248, 248, 1);
  border-radius: 0.375rem;
  border-radius: 0.375rem;
}

.aichat-main .overflow-y-auto {
  overflow-y: auto;
}

.aichat-main .code_header {
  font-size: 0.75rem;
  line-height: 1rem;
}

/* .aichat-main code {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  font-size: 16px;
} */

.aichat-main code,
.aichat-main kbd,
.aichat-main samp,
.aichat-main pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1em;
}

.aichat-main code.hljs {
  /* color: #6c6c6c; */
}

.aichat-main code.hljs {
  padding: 0;
}

.aichat-main .whitespace-pre {
  white-space: pre !important;
}

.aichat-main .copy-btn {
  padding: 0;
  gap: 0.5rem;
  display: flex;
  margin-left: 0;
  float: right;
  background-color: transparent;
  /* color: rgb(217, 217, 227); */
  color: rgb(54 54 54);
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

.aichat-main .copy-btn:hover {
  border-color: transparent;
}

.aichat-main .copy-btn:focus {
  outline: 0;
}

.aichat-main .copy-btn:focus-visible {
  outline: 0;
}

.aichat-main a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

.aichat-main ol {
  padding-inline-start: 20px;
}

.aichat-main ul {
  /* display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px; */
  padding-inline-start: 20px;
}

@media only screen and (min-width: 1441px) and (max-width: 1920px) {
}

@media only screen and (max-width: 1440px) {
  .aichat-main p {
    margin: 10px 0;
  }

  .think-c2 p {
    margin: 6px 0;
  }

  .aichat-main .p-4 {
    padding: 0.6rem;
  }

  .aichat-main ol {
    padding-inline-start: 15px;
  }

  .aichat-main .bg-white {
    margin: 6px 0;
  }
}

.edit-text .el-textarea__inner {
  resize: none;
  /* 针对 el-textarea 组件内部的 textarea 元素 */
}

.edit-text .el-textarea__inner {
  border: none;
  box-shadow: none;
  background-color: transparent;
}

.scroll-area .el-scrollbar__wrap {
  scroll-padding-bottom: 12px;
  /* 在滚动容器底部留出10px的空间 */
}

.small-textarea {
}

.medium-textarea .el-textarea__inner {
  font-size: 16px;
}

.large-textarea .el-textarea__inner {
  font-size: 18px;
  line-height: 2;
}

.edit-text .el-textarea__inner:hover,
.edit-text .el-textarea__inner:focus {
  box-shadow: none;
}

/* 为了跨浏览器兼容性，设置webkit前缀 */
.overflow-y-auto::-webkit-scrollbar {
  width: 6px;
  /* 设置滚动条的宽度 */
  height: 8px;
  /* 设置滚动条的高度 */
}

.overflow-y-auto::-webkit-scrollbar-track {
  background: #f1f1f1;
  /* 滚动条轨道的背景颜色 */
}

.overflow-y-auto::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.2);
  /* 滚动条实际可拖动部分的颜色 */
}

.overflow-y-auto::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.5);
  /* 鼠标悬浮时滚动条的颜色 */
}

.c2 h3 {
  margin: 10px 0 5px 0;
}

.c2 h4 {
  /* margin: 10px 0 2px 0; */
}

.c2 table {
  margin: 12px 0;
  width: 100%;
  border-spacing: 0 0;
  /* border: 1.4px solid #d5d5d7; */
  padding: 1%;
}

.c2 th {
  background-color: hsla(0, 0%, 93%, 0.2);
  border-bottom: 1px solid #646cff;
  border-left: 1px solid #646cff;
  border-top: 1px solid #646cff;
  padding: 0.25rem 0.75rem;
}

.c2 th:first-child {
  border-top-left-radius: 0.375rem;
}

.c2 th:last-child {
  border-right: 1px solid #646cff;
  border-top-right-radius: 0.375rem;
}

.c2 td {
  border-bottom: 1px solid #646cff;
  border-left: 1px solid #646cff;
  /* border: 1px solid #646cff; */
  padding: 0.15rem 0.45rem;
}

.c2 td:last-child {
  border-right: 1px solid #646cff;
}

.c2 tbody tr:last-child td:first-child {
  border-bottom-left-radius: 0.375rem;
}

.c2 tbody tr:last-child td:last-child {
  border-bottom-right-radius: 0.375rem;
}

.bottom-item .el-message {
  position: absolute;
  /* top: -10px; */
}

/* .scroll-area .el-scrollbar__view{
  min-height: 100%;
} */

button:focus,
button:focus-visible {
  outline: none;
}

.result-streaming > :not(ol):not(ul):not(pre):last-child:after,
.result-streaming > ol:last-child li:last-child:after,
.result-streaming > ul:last-child li:last-child:after {
  -webkit-animation: blink 1s steps(5, start) infinite;
  animation: blink 1s steps(5, start) infinite;
  content: "▋";
  margin-left: 0.25rem;
  vertical-align: baseline;
  font-family: "宋体";
}

@keyframes blink {
  to {
    visibility: hidden;
  }
}